/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { display: flex; justify-content: center; align-items: center; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: rgb(0,15,36); background: linear-gradient(90deg, rgba(0,15,36,1) 0%, rgba(61,9,121,1) 50%, rgba(149,53,186,1) 100%, rgba(208,0,255,1) 100%);}
